@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none !important;
  outline: none !important;
}

*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

i,
em {
  font-style: normal;
}

a {
  color: #fff;
  display: inline-block;
}
a:hover {
  text-decoration: none;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1e1e1e;
  color: #fff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 600;
}

h3 {
  line-height: 42px;
}

p {
  font-size: 16px;
  line-height: 28px;
  color: #8f8f8f;
}

img {
  border: 0 none;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.sidebar {
  width: 6%;
  height: 100vh;
  position: fixed;
  left: 0;
  filter: blur(2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background-color: transparent;
}

.toggle-btn {
  position: fixed;
  margin: 25px;
  width: 40px;
  height: 12px;
  right: 10px;
  z-index: 11;
}

span.one {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #fff;
}

span.two {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #fff;
  margin-top: 12px;
}

.menu {
  z-index: 4;
  position: fixed;
  background-color: #101010;
  height: 100vh;
  width: 100%;
  top: -100%;
  padding: 5%;
}

.data {
  padding: 8em 0 0 2em;
  text-align: left;
}

ul {
  list-style: none;
}

li {
  color: #fff;
  font-size: 42px;
  margin: 25px 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

a:hover {
  letter-spacing: 4px;
  color: #ffeb3b;
}

a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  font-size: 100px;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

a:hover::before {
  opacity: 0.1;
}

/* Custom Cursor Css */
#custom-cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  pointer-events: none;
  z-index: 10000;
  cursor: none;
}
#custom-cursor #cursor-outer {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transform: translate(
    -50%,
    -50%
  );
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#custom-cursor #cursor-loading {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 56px;
  width: 56px;
  -webkit-animation: circ-anim 0.7s
    linear infinite;
  animation: circ-anim 0.7s linear
    infinite;
  display: none;
  border-width: 0px;
  border-radius: 50%;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
}
#custom-cursor #cursor-inner {
  position: fixed;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: translate3d(
    -50%,
    -50%,
    1px
  );
  transform: translate3d(
    -50%,
    -50%,
    1px
  );
}

@-webkit-keyframes circ-anim {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circ-anim {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#cursor-outer i {
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(
    -50%,
    -50%
  );
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1,
h2,
h3,
h4,
p,
a {
  color: white;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}
p,
a {
}
.intro {
  height: 100vh;
  position: relative;
  top: 0;
  overflow-y: hidden;
  display: flex;
}
.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
}
